<div id="page" class="timeline">

    <!-- Header -->
    <div id="header">

        <!-- Menu icon -->
        <div class="menu-icon"><i class="fa fa-bars"></i></div>

        <!-- Profile -->
        <ul class="profile">
            <li class="display-name">
                Petter Kraabøl
            </li>
            <li class="logo">
                <img src="http://static-cdn.jtvnw.net/jtv_user_pictures/zarlach-profile_image-d38916d683256a81-300x300.jpeg">
            </li>
        </ul>

        <!-- View Date -->
        <ul class="date">
            <li class="text">Yesterday</li>
            <li class="dropdown-button"><i class="fa fa-caret-down"></i></li>
        </ul>
    </div>

    <!-- Timeline -->
    <div id="timeline">

        <!-- Timestamps -->
        <ul class="timestamps">
            <li>1:00 pm</li>
            <li>2:00 pm</li>
            <li>3:00 pm</li>
            <li>4:00 pm</li>
            <li>5:00 pm</li>
            <li>6:00 pm</li>
            <li>7:00 pm</li>
            <li>8:00 pm</li>
        </ul>

        <!-- Streams -->
        <div class="streams">
            <ul class="layer">
                <li class="video">
                    <ul class="info">
                        <li class="thumbnail" style="background-image:url(http://static-cdn.jtvnw.net/v1/AUTH_system/vods_7464/broadcast_13215758096_13215758096/thumb/thumb0-320x240.jpg);"></li>
                        <li class="text">Dance party!!! #GetMACD</li>
                        <li class="banner" style="background-image:url(http://static-cdn.jtvnw.net/v1/AUTH_system/vods_7464/broadcast_13215758096_13215758096/thumb/thumb0-320x240.jpg);"></li>
                    </ul>
                </li>
            </ul>
        </div>
    </id>

    <!-- Footer -->
    <footer>

        <!-- Select video type -->
        <ul class="video-type">
            <li class="broadcasts active">Broadcasts</li>
            <li class="highlights">Highlights</li>
        </ul>
    </footer>
</div>